@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.footer {
  text-align: center;
  width: 100%;
}

.footer a {
  color: white;
}

.logo img {
  width: 40px;
  height: auto;
}

.logo {
  display: flex;
  gap: 5px;
  align-items: center;
  text-transform: uppercase;
}
